@model List<RoomTypeViewModel>

<div class="row">
    <h1>Room Type List</h1>
</div>

<div class="row">
   <a asp-route="upsertRoomType">Add New Room Type</a>
</div>

<div class="row">
    <table class="table">
    <thead>
        <tr>
            <th>Action</th>
            <th>Code</th>
            <th>Description</th>
            <th>Guest Limit</th>
            <th>Cost</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var roomType in @Model) {
            <tr>
                <td>
                    <a asp-route="upsertRoomType" asp-route-id="@roomType.RoomTypeId" class="btn btn-primary">Edit</a>
                </td>
                <td>@roomType.Code</td>
                <td>@roomType.Description</td>
                <td>@roomType.GuestLimit</td>
                <td>@roomType.Cost</td>
            </tr>
        }
    </tbody>
</table>
</div>